*~
*.*~
apache/apache-site-wsgi
apache/django.wsgi
*.bak
build
_build
catalogue.log
catalogue.log
catalogue/tests/dims_packages
catalogue/tests/sample_files/misr/
desktop.ini
.directory
*.dmp
doc-src
docs/t2t/SANSA-Catalogue-Manual.aux
docs/t2t/SANSA-Catalogue-Manual.log
docs/t2t/SANSA-Catalogue-Manual.out
docs/t2t/SANSA-Catalogue-Manual.tex
docs/t2t/SANSA-Catalogue-Manual.toc
.DS_Store
GeoIP.dat
GeoLiteCity.dat
georeferenced_thumbnails
.idea
imagery_mastercopies
imagery_mastercopies/
index.aux
index.log
index.out
index.tex
index.toc
init_*.sql
ipy.py
media/avatars/
nbproject/
*.orig
*.pyc
python-dev
*.rc
resources/server_config/mapserver/apache-include/*.map
resources/server_config/mapserver/mapfiles/*.map
SANSA-Catalogue-Manual.aux
SANSA-Catalogue-Manual.log
SANSA-Catalogue-Manual.out
SANSA-Catalogue-Manual.tex
SANSA-Catalogue-Manual.toc
scenes_out_projected/
settings_local.py
settings_local.py
*.sqlite
*.swp
Thumb.db
thumbs_out/
.vagrant
venv
