{% extends "base.html" %}
{% load static from staticfiles %}
{% load pipeline %}

{% block extracss %}
	<link href="{% static "css/table.css" %}" rel="stylesheet">
{% endblock %}

{% block content%}
<div class="main-content">

    <div id="map" class="order-map map" style="width: 100%; height: 500px">
{#	  		<div id="map-controls">#}
{#			    <div id="map-layerswitcher-control">#}
{#			      <button class="btn btn-info btn-large right icon-globe"></button>#}
{#			    </div>#}
{#				<div id="map-navigation"></div>#}
{#			</div>#}
{#			<div id="map-controls2" class="blackalpha60">#}
{#			    <div id="map-control-position"></div>#}
{#				<div id="map-control-scalebar"></div>#}
{#			</div>#}
{#			<div id="map-controls3" class="blackalpha60">#}
{#      		</div>#}
{#			<div id="map-layerswitcher" class="drop-shadow"></div>#}
    </div>

  {% include "order_form_search.html" %}
{% endblock %}

{% block extrajs %}
    <script src="{% static "js/libs/underscore-1.13.1/underscore-min.js" %}"></script>
    <script src="{% static "js/libs/jquery-ui-1.12.1/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/libs/openlayers-6.5.0/ol.js" %}"></script>
    <script src="{% static "js/init_project.js" %}"></script>
    <script src="{% static "js/widget.deliveryOptions.js" %}"></script>
  {% javascript 'orderpage' %}
  <script>
  	var LayerSwitcherState = false;
    function toggleLayerSwitcher() {
	    if (LayerSwitcherState) {
	        $('#map-layerswitcher').hide();
	        $('#map-layerswitcher-control').css('color','#FFFFFF');
	        LayerSwitcherState = false;
	    } else {
	        $('#map-layerswitcher').show();
	        $('#map-layerswitcher-control').css('color','green');
	        LayerSwitcherState = true;
	    }
	}

	function triggerProjectionChange(option) {
		/*
		function is triggered by applying one of helper filters for either projection or
		processing level
		expected input is either "projection" or "processing"
		filter value (option element) can be:
		0 - default option
		1 - secondary selection
		logic is based on presumtion that default selection is first option in select
		and secondary option (GEO for projection and RAW for processing) is last option in select
		*/
		var type = $('input[name='+ option +'Radio]:radio:checked').val()
		if (type == 1) {
			var selector = 'option:last';
		} else {
			var selector = 'option:first';
		}
		$("select[name*='_"+option+"']").find(selector).attr("selected","selected");
		/*
		we need to manually trigger change event for costs to get updated
		*/
		$("select[name*='_"+option+"']").trigger('change');
	}

	function setTotalCost() {
		/*
		function expects for DOM elements that hold costs have name attribute with _cost suffix
		and data-id attribute that holds product ID
		using product ID we lookup corresponding widget which has method that returns cost
		for curently selected process level
		*/
		var cost = 0;
		$('td[name*="_cost"]').each(function() {
			cost += APP['widget_' + $(this).data('id') + '_processing'].getCost();
		})
		$('#product_total_cost').html('R ' + cost);
	}

  	$( document ).ready(function() {

  		{#var myMap = new SansaMap('map');#}
        var cartRecords  = new ol.source.Vector({})
        {% for record in myRecords %}
            var format = new ol.format.WKT();
            var feat = format.readFeature("{{ record.product.spatial_coverage.wkt}}", {
                dataProjection: 'EPSG:4326',
                featureProjection: 'EPSG:3857',
            });
            feat.setProperties({'id': '{{ record.product.unique_product_id }}'})
            cartRecords.addFeature(feat)
      	{% endfor %}
        const center = ol.extent.getCenter(cartRecords.getExtent())
  		let map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                }),
                new ol.layer.Vector({
                    className: 'Cart Records',
                    source: cartRecords,
                    style: [
                        new ol.style.Style({
                        stroke: new ol.style.Stroke({
                            color: 'blue',
                            width: 3
                        }),
                        fill: new ol.style.Fill({
                            color: 'rgba(0, 0, 255, 0.1)'
                        })
                    })]
                })
            ],
            view: new ol.View({
                zoom: 5,
                center: center
            })

        });
  		$modal = $('#ajax-modal');


      	{#var cartLayer = new CartLayer(myMap, {'wkt': CartRecords});#}

		$('#map-layerswitcher-control').click(function() {
			toggleLayerSwitcher();
		});

		$('.metadata').click(function() {
			var id = $(this).data('id');
	        $modal.load('/metadata/'+id, '', function(){
	            $modal.modal();
	        });
		})

		$('.remove').click(function() {
			if (confirm('You are about to remove product from cart, are you sure?')) {
			    uiBlock();
			    var elem = $(this);
			    var id = elem.data('id');
			    $.get("/removefromcart/" + id + "/?xhr")
			    .done(function () {
			    	elem.parent().parent().remove();
			        cartLayer.removeFeature(id);
			        setTotalCost();
			    })
			    .fail(function () {
			      alert('There has been a problem!');
			    });
				uiUnblock();
			}
		});
		// initial setup of total cost across all products
		setTotalCost();
    })
  </script>
{% endblock %}
{% block footer %}
{% endblock %}
