{% extends "base.html" %}
{% load staticfiles %}
{% block extracss %}
    <style>
    .main-content {
        margin-top: 0;
    }
    </style>
{% endblock %}
{% block header %}
<div id="section-wrapper">
<!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('/static/images/sansa.jpg')">
            <div class="text-center my-5">
                <h1 class="text-white fs-3 fw-bolder" >SANSA Earth Observation Online Catalogue</h1>
                <p class="text-white mb-5">The South African National Space Agency Earth Observation imagery archive for South Africa and SADC </p>
                <a class="btn-account btn-l  search" href="/search">SEARCH</a>
            </div>
        </header>

</div>
{% endblock %}

