dateutils
Django==1.9.13
pillow
Pygments
SQLAlchemy
Sphinx
coverage
django-crispy-forms==1.7.0
django-extensions==1.7.9
django-model-utils
django-nose
git+https://github.com/dimasciput/django-offline-messages.git
django-pipeline
django-guardian
django-tastypie
django-userena
/libs/django-webodt-0.3.1.tar.gz
/libs/django-exchange-0.7.4.tar.gz
docutils
factory-boy
gdata
# Use my forked version because pip 1.4.1 requires non beta deps and pytz
# (dependency of dateutils) is a beta release.
# git+https://github.com/timlinux/python-dateutils.git@c67ee1932d678b82d65aa69ee35b07791d1c0364
/libs/Backbone-tastypie-0.2.tar.gz
git+https://github.com/cmheisel/nose-xcover.git#egg=nosexcover
pycsw
git+https://github.com/gak/pygooglechart.git
django-jenkins
html5lib
jslint
mercurial
nose-exclude
pep8
pisa
psycopg2-binary
pyflakes
pylint
python-mimeparse
pytz
raven
reportlab
selenium
django-tables2
jsmin
celery==3.1.25
