<script type="text/html" id="map-control-panel">
    <div id="map-control-panel-element" class="map-control-panel">
        <div id="search-control" class="search-control sub-control-panel"
        data-toggle="popover"
             data-placement="right" data-trigger="hover" data-content="Search">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
        <div id="lasso-control" class="lasso-control sub-control-panel"
        data-toggle="popover"
             data-placement="right" data-trigger="hover" data-content="Draw Polygon">
            <i class="fa fa-object-group" aria-hidden="true"></i>
        </div>
        <div id="filter-control" class="filter-control sub-control-panel"
        data-toggle="popover"
             data-placement="right" data-trigger="hover"
             data-content="Layer Selector">
            <i class="fa fa-map" aria-hidden="true"></i>
        </div>
        <div id="locate-control" class="locate-control sub-control-panel"
        data-toggle="popover"
             data-placement="right" data-trigger="hover"
             data-content="Locate Options">
            <i class="fa fa-location-arrow" aria-hidden="true"></i>
        </div>

        <div id="print-control" class="print-map-control sub-control-panel"
             data-toggle="popover"
             data-placement="right" data-trigger="hover"
             data-content="Print Map">
            <i class="fa fa-print" aria-hidden="true"></i>
        </div>
        <div id="permalink-control" class="permalink-control sub-control-panel sub-control-panel-disabled"
        data-toggle="popover"
             data-placement="right" data-trigger="hover"
             data-content="No filters applied">
            <i class="fa fa-link" aria-hidden="true"></i>
        </div>
    </div>
    <div id="zoom-control" class="zoom-control row">
        <div class="col-lg-6 sub-zoom-control zoom-out"><i class="fa fa-plus"
                                                           aria-hidden="true"></i>
        </div>
        <div class="col-lg-6 sub-zoom-control zoom-in"><i class="fa fa-minus"
                                                          aria-hidden="true"></i>
        </div>
    </div>


</script>