{% extends "base-fluid.html" %}
{% load staticfiles %}
{% block extracss %}
    <link href="{% static "css/styles.css" %}" rel="stylesheet">
    <link href="{% static "js/libs/ol-layerswitcher/ol3-layerswitcher.css" %}" rel="stylesheet">
    <link href="{% static "js/libs/jquery-ui-1.12.1/jquery-ui.min.css" %}" rel="stylesheet">
    <link href="{% static "js/libs/noUiSlider.15.2.0/nouislider.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-listTree.css" %}" rel="stylesheet">
    <link href="{% static "js/libs/jquery-datetimepicker/jquery.datetimepicker.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/search-page-custom.css" %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content%}
    <div id="layoutSidenav">
        <div id="layoutSidenav_content">
            <main>
                <div id="map-container"></div>
            </main>
        </div>
        <div id="layoutSidenav_nav" class="sidenav-dark">
        </div>

        {#  Right Side Panel #}
        <div id="layoutRightSide">

        </div>
    </div>
{% endblock%}
{% block footer %}
    {% include 'map_templates.html' %}
    {% include 'map_control_panel.html' %}
    {% include 'result_panel.html' %}
    <script data-main="/static/js/app" src="/static/js/libs/requirejs-2.3.6/require.js"></script>
    <script src="{% static "js/date_utils.js" %}"></script>

{% endblock %}
{% block extrajs %}
    <script type="text/javascript">
        let csrfToken = '{{ csrf_token }}';
        const listTreeOptions = {{ listreeoptions|safe }};
        const selectedOptions= {{ selected_options|safe }};
        const searchresults = {{ searchlistnumber|safe }};
        let guid = ''
        {% if user.is_authenticated %}
            const UserLoged = true;
        {% else %}
            const UserLoged = false;
        {% endif %}
      const defaultBasemap = 'OpenStreetMap';
      let history = false;
      {% if mysearch %}
      // set guid of loaded search
      guid = '{{ mysearch.guid }}';
      history = true
    {% endif %}

    </script>
  <script>
  // set control variable for share link window
  // default false
    const searchShareOpen = false;
    $( document ).ready(function() {
    // activate tooltips on all elements
    $('[data-toggle="tooltip"]').tooltip();
    // activate tooltips on new AJAX-loaded elements
    $('body').bind('ajaxComplete', function(e, xhr, settings){
       $('[data-toggle="tooltip"]').tooltip();
    });
    // activate help popovers
    $('.help-popover').popover();
    // initialize map widdget
    {#myMap = new APP.SansaMap('map');#}
    // initialize search layer widget
    {#searchLayer = new APP.SearchLayer(myMap);#}
    // initialize layer that holds custom geometry control
    {#geoSearchLayer = new APP.GeoSearchLayer(myMap);#}
    // initialize layer that holds cart geometry
    {#searchCartLayer = new APP.SearchCartLayer(myMap);#}
    // check if we are opening existing search from history

    // activate tooltip for map control buttons
    $(".olButton").tooltip({"placement": "top"});
    // hide search share button and widget
    $('#SearchShare, #SearchShare-content').hide();
    // set panels according to control variables
    defaultPanelState();
    // initialize listree widget
    // initialize nice scrollbar
    $('#search-panel-content').perfectScrollbar( {wheelSpeed: 20, wheelPropogation: true } );
    //$('#results-container').perfectScrollbar( { wheelSpeed: 20, wheelPropogation: true } );
    $('#cart-container').perfectScrollbar( { wheelSpeed: 20, wheelPropogation: true } );
    // if size of #catalogue serch has changes since page load, we need to
    // update nice scroller to new height
    $('#catalogueSearch').on('show', function(){
      $('#search-panel-content').perfectScrollbar('update');
    });
    $('#catalogueSearch').on('hide', function () {
      $('#search-panel-content').perfectScrollbar('update');
    });
    $('#result-panel').on('show', function(){
      $('#results-container').perfectScrollbar('update');
    });
    $('#results-panel').on('hide', function () {
      $('#results-container').perfectScrollbar('update');
    });

    // setup actions for events
    $('#result-panel-download-button').click(function() {
      toggleResultDownloadButton();
    });
    $('#search_button').click(function() {
      if (!$(this).hasClass('disabled')) submitSearchForm();
    });

    $('#cart-panel-download-button').click(function() {
      toggleCartDownloadButton();
    });

    $('#switchSearchLayer').bootstrapSwitch().bootstrapSwitch('setState', true);
    $('#switchSearchLayer').on('switch-change', function (e, data) {
        $APP.trigger('toggleSearchLayer', data.value);
      });
    $('#cart-show-map').click(function() {
      // show cart products on map
      var elem  = $(this);
      if (elem.data('state') == 'hidden') {
        $APP.trigger('SearchCartLayer_setVisibility', true);
        elem.data('state','visible');
        elem.html('Hide from map');
      } else {
        $APP.trigger('SearchCartLayer_setVisibility', false);
        elem.data('state','hidden');
        elem.html('Show on map');
      }
    });
    $('#place_order').click(function() {
      window.location.replace('/addorder');
    });
    $('#map-layerswitcher-control').click(function() {
      toggleLayerSwitcher();
    });
    $('#result-panel-download-button-shp').click(function() {
      window.open(
        '/downloadsearchresults/' + guid + '/?shp',
        '_blank'
      );
    });
    $('#result-panel-download-button-htm').click(function() {
      window.open(
        '/downloadsearchmetadata/' + guid + '/?html',
        '_blank'
      );
    });
    $('#result-panel-download-button-kml').click(function() {
      window.open(
        '/downloadsearchresults/' + guid + '/?kml',
        '_blank'
      );
    });
    $('#result-panel-download-button-kmz').click(function() {
      window.open(
        '/downloadsearchresults/' + guid + '/?kmz',
        '_blank'
      );
    });
    $('#result-panel-download-button-xml').click(function() {
      window.open(
        '/downloadsearchmetadata/' + guid + '/',
        '_blank'
      );
    });

    $('#cart-panel-download-button-shp').click(function() {
      window.open(
        '/downloadcart/?shp',
        '_blank'
      );
    });
    $('#cart-panel-download-button-htm').click(function() {
      window.open(
        '/downloadcartmetadata/?html',
        '_blank'
      );
    });
    $('#cart-panel-download-button-kml').click(function() {
      window.open(
        '/downloadcart/?kml',
        '_blank'
      );
    });
    $('#cart-panel-download-button-kmz').click(function() {
      window.open(
        '/downloadcart/?kmz',
        '_blank'
      );
    });
    $('#cart-panel-download-button-xml').click(function() {
      window.open(
        '/downloadcartmetadata/',
        '_blank'
      );
    });
    $('#search-panel-help-button').click(function() {
      APP.$modal.load('/searchformhelp/', '', function(){
        APP.$modal.modal();
      });
    });
    $('#map-help-button').click(function() {
      APP.$modal.load('/mapHelp/', '', function(){
        APP.$modal.modal();
      });
    });
    $("#SearchShare").click(function(){
      toggleSearchShare();
    });
    // setup daterange widget
    $('#date_range').daterange();
    // setup search summary widget
    //searchSummary = new APP.SearchSummary('#search-summary');
    //searchSummary.force();
    // ask daterange widget to notify us about dates, it will trigger state of search button
    $('#date_range').daterange('notify');

    // Hide popovers on click
    $('body').on('click', function (e) {
      $('.result-item').each(function () {
          // hide any open popovers when the anywhere else in the body is clicked
          if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
              $(this).popover('hide');
          }
      });
  });
  });
  {#</script>#}
{% endblock %}



