{% load i18n %}
    <li class="nav-item  dropdown" class="dropdown">
     <a class="dropdown-toggle" href="#"  id="dropdownMenuLink"
           data-bs-toggle="dropdown" aria-expanded="false">{{ user.username }}</a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      {% if user.is_authenticated %}
          <a class="dropdown-item" href="{% url "userena_profile_detail" user %}">{% trans "Personal information" %}</a>
          <a class="dropdown-item" href="{% url "userena_profile_edit" user %}">{% trans "Edit profile" %}</a>
        {% comment %}
        <li>
          <a href="{% url profile_detail %}">{% trans "Avatar" %}</a>
        </li>
        {% endcomment %}
          <a class="dropdown-item" href="{% url "userena_password_change" user %}">{% trans "Change password" %}</a>
          <a class="dropdown-item" href="{% url "userena_email_change" user %}">
          {% if email %}{% trans "Change your e-mail address" %}{% else %}{% trans "Change your e-mail address" %}{% endif %}</a>
        {% if not validated and email %}
          <a class="dropdown-item" href="{% url "userena_email_confirm" %}">{% trans "Resend validation e-mail" %}</a>
        {% endif %}
          <a class="dropdown-item" href="{% url "userena_signout" %}">Logout</a>
      {% else %}
          <a class="dropdown-item" href="{% url 'userena_signin' %}">Login</a>
      {% endif %}
      </div>
    </li>
