{% load pipeline %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
{% load boxtag %}
<head>
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> -->
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{% block title %}SANSA-EO Catalogue{% endblock %}</title>
  <meta name="keywords" content="sansa south african national space agency earth observation south africa" />
  <meta name="description" content="This web site provides a catalogue of remote sensing data (satellite imagery) available from the SANSA-EO (South African National Space Agency), Hartebeeshoek, South Africa. The catalogue includes data for South Africa and the rest of Africa. This web site was developed by Linfiniti Consulting under contract to SANSA-EO." />
  <meta name="robots" content="NONE,NOARCHIVE" />
  {# for Bootstrap responsive layout #}
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{% static "js/libs/jquery/jquery-3.6.0.min.js" %}"></script>
    <script src="{% static "js/libs/bootstrap-5.0.2/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "js/libs/jquery-ui-1.12.1/jquery-ui.min.js" %}"></script>
  {% block extracss %}{% endblock %}
    {# Be very careful about changing the order of these css includes as it can have unintended side effects #}
    <link href="{% url 'logVisit' %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/navbar.css" %}" rel="stylesheet">
    <link href="{% static "css/landing_page.css" %}" rel="stylesheet">
    {% stylesheet 'catalogue' %}
  {% block extrajs %}{% endblock %}
      <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
      <link rel="icon" href="{% static 'images/animated_favicon.gif' %}" type="image/gif" />
      {% block extraHeaders %}{% endblock %}

    </head>
    {% block navigation %}
    <!-- Navigation -->
        {% include "navigation_bar.html" %}
    {% endblock %}
    <body {% block body_load %}{% endblock %}>
    {% block header %}
    {% endblock %}

{#      <div id="main-content" class="container" style="margin-top: 5%">#}
{#       <div class="main-content">#}
          {% block content %}
          {% endblock %}
{#        </div>#}
{#      </div>#}
{% block footer %}
     <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; SANSA, Earth Observation. 2021 | This catalogue was developed by Kartoza (Pty) Ltd</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">About</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
{% endblock %}

    </body>
  </html>
